.battleContainer {
  // background-image: url('images/selectcharacterbackground.png');
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding-top: 8vh;

  &::after {
    position: absolute;
    content: "";
    background-image: url('images/selectcharacterbackground.png');
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
  }
}

.battleLog {
  font-family: helvetica, sans-serif;
  font-size: .5rem;
  position: absolute;
  bottom: 52vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: 15vh;
  overflow: scroll;
  background: rgba(#FFFFFF, 0.85);
  border-radius: 5px 5px 0 0;
  padding: .5rem;
  width: 330px;
}

.characterActions {
  @include outer-container;
  button {
    @include span-columns(4);
  }
}

.statContainer {
  // width: 50%;
  display: inline;
  li {
    width: 50%;
    display: inline-block;
    padding-left: 10vw;
  }
  h1 {
    font-family: 'Orbitron', sans-serif;
    color: #0761AD;
    text-shadow: 4px 4px 9px rgba(150, 150, 150, 1);
  }
}

.avatars {
  li {
    display: inline-block;
    text-align: center;
    height: 10vh;
    width: 50%;
    img {
      height: 25vw;
    }
  }
}
