.Splash-Page {
  color: white;
  text-align: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    margin-top: 0;
    font-family: 'Orbitron', sans-serif;
    padding-top: 5rem;
  }
}

.home {
  background: url("https://media.giphy.com/media/lg1Qm0qy51q8w/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.restart {
  background-size: cover;
  background-repeat: no-repeat;
  background: url("https://67.media.tumblr.com/209cfb0e9fdb32401a5cc02354462fad/tumblr_nrx70sOPVy1tzr9z1o1_500.gif");
}
