html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font: 62.5%;
  width: 100%;
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul::after {
    clear: both;
    content: "";
    display: block; }

.Splash-Page {
  color: white;
  text-align: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }
  .Splash-Page h1 {
    margin-top: 0;
    font-family: 'Orbitron', sans-serif;
    padding-top: 5rem; }

.home {
  background: url("https://media.giphy.com/media/lg1Qm0qy51q8w/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat; }

.restart {
  background-size: cover;
  background-repeat: no-repeat;
  background: url("https://67.media.tumblr.com/209cfb0e9fdb32401a5cc02354462fad/tumblr_nrx70sOPVy1tzr9z1o1_500.gif"); }

.characters {
  max-width: 12;
  margin-left: auto;
  margin-right: auto; }
  .characters::after {
    clear: both;
    content: "";
    display: block; }

.characters li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  display: inline-block;
  list-style: none;
  text-align: center;
  padding-left: 0px; }
  .characters li:last-child {
    margin-right: 0; }

.characters img:hover {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px); }

.select-character {
  text-align: center;
  background-image: url("images/selectcharacterbackground.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: .8rem 4rem;
  border-radius: 10px;
  display: inline-block; }

.character-image {
  background-color: black; }

.character-info {
  border: 2px solid black;
  font-size: .8rem;
  padding: 1rem;
  background: white;
  border-radius: 10px; }

.name-img {
  padding: 5rem; }

.description li {
  display: inline-block; }

h3 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: black;
  font-size: 2rem;
  padding-top: .5rem; }

span {
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  font-size: 1rem; }

button {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: .5rem;
  margin: 1rem 0;
  background-color: #0761AD;
  border-radius: 10px;
  border: 2px solid black; }

.start-game {
  margin-top: 6rem;
  padding: 1rem 5rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  background-color: #FDB5A9;
  border: 2px solid black;
  border-radius: 10px; }

.battleContainer {
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding-top: 8vh; }
  .battleContainer::after {
    position: absolute;
    content: "";
    background-image: url("images/selectcharacterbackground.png");
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-size: cover; }

.battleLog {
  font-family: helvetica, sans-serif;
  font-size: .5rem;
  position: absolute;
  bottom: 52vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: 15vh;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px 5px 0 0;
  padding: .5rem;
  width: 330px; }

.characterActions {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .characterActions::after {
    clear: both;
    content: "";
    display: block; }
  .characterActions button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .characterActions button:last-child {
      margin-right: 0; }

.statContainer {
  display: inline; }
  .statContainer li {
    width: 50%;
    display: inline-block;
    padding-left: 10vw; }
  .statContainer h1 {
    font-family: 'Orbitron', sans-serif;
    color: #0761AD;
    text-shadow: 4px 4px 9px #969696; }

.avatars li {
  display: inline-block;
  text-align: center;
  height: 10vh;
  width: 50%; }
  .avatars li img {
    height: 25vw; }

/*# sourceMappingURL=main.css.map */
